{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - {{ chat.name }}{% endblock title %}

{% block javascript %}
  <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row" data-chat-room="{{ chat.id }}" data-user="{{ user }}">
    <div class="col messages">
      {% for message in chat.messages.all %}
        <div class="alert alert-primary msg" role="alert">
          <h6 class="alert-heading username">{{ message.author }}<span class="time" style="float: right">{{ message.get_create_datetime }}</span></h6>
          <hr>
          <p class="mb-0 text">{{ message.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <form class="mx-2 my-auto d-inline w-100">
      <div class="input-group">
      <input type="text" class="form-control" id="message-text">
        <span class="input-group-append">
          <button class="btn btn-outline-primary" id="message-submit" type="button">Submit</button>
        </span>
      </div>
    </form>
  </nav>

{% endblock content %}
